<form action="/restaurant/{{restaurant._id}}?_method=DELETE" method="POST" class="m-4">
  <h3>確定要刪除{{restaurant.name}}嗎？</h3>
  <button class="btn btn-danger" type="submit" name="answer" value="{{restaurant._id}}">Delete</button>
  <button class="btn btn-success" type="submit" name="answer" value="/">Return</button>
</form>